body {
  background-image: url("../sea.jpg");
 background-color: lightblue;
 height: 700px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  color:white;
  padding-top: 1rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
  h1 {
    font family: "fantasy";
    font-size: 25em;
    margin-top: 67px;
}
p {
    font-family: verdana;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 10rem;
}
.col-sm {
  font-weight: 700;
  font-size: 1.15em;
  font-family: verdana;
  font-family: sans-serif;
}
.lead{
  font-size: 1.6em;
}
#fonts{font-family: fantasy;}
img {
    display: flex;
    padding: 20px;
    margin-top:  50 auto;
    margin-bottom: 50 auto;
    border-radius: 100px;
  }
  .col-sm {
    height: 100x; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  /
  .col-sm img {
    transition: transform .3s ease;
  }

  .col-sm:hover img {
    transform: scale(1.5);
  }
  h2 {
    font-size: 70px;
  }
h3 {
  font-size: 40px;
  color:   #005580;
}
p1 {
  margin-top: 10px auto;
  font-size: 2.5em;
height:20px;
padding: 2px;
}
p2 {
  margin-top: 2px;
  font-weight: bold;
  font-size: 2em;
  color: #005580;
height:20px;
padding: 2px;
}
ul1 {
  margin-top: 2px;
  font-size: 2em;
  color: #005580;
height:20px;
padding: 20px;
}
ul1 {
      list-style: none;
      list-style-type: circle;
}
li1 {
    margin: 0 10px;
    transition: 1s ease;
}
li1:hover {
    font-size: 2em;
    transition: 3s ease;
}
